
@{
    ViewBag.Title = "ManagerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url("../../Images/background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        margin: 0;
        padding: 0;
    }

    #second-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px;
    }

    .content {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .TableViewDiv {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 8px;
        margin: 20px;
    }

        .TableViewDiv table {
            border-collapse: collapse;
            width: 100%;
        }

    .requestsTable th, .requestsTable td {
        padding: 10px;
        text-align: left;
        border: 1px solid #b2dfdb;
        border-radius: 5px;
    }

    .requestsTable th {
        background-color: #e0f2f1;
        color: #000000;
    }

    .requestsTable tbody tr {
        background-color: #ffffff;
    }

        .requestsTable tbody tr:nth-child(even) {
            background-color: #ccffff;
        }

        .requestsTable tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }
</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('nav .nav-container a').removeClass('active');
        $('#managerHome').addClass('active');

        //populate Table my employees
        $.ajax({
            url: '/Manager/GetEmployeesUnderManager',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#employeeTable').DataTable({
                    data: data,
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row) {
                                return row.FirstName + ' ' + row.LastName;
                            }
                        },
                        { data: 'Email' },
                        { data: 'PhoneNo' },
                    ],
                    ordering: false
                });
            }, error: function (error) {
                console.log(error);
            }
        });
    });



</script>

<div id="second-container">
    <div class="profileContainer content">
        <h2>WELCOME : @currentUser.FirstName @currentUser.LastName</h2>
        <img class="profile-image" src="~/Images/logo2.png" alt="Profile Image" />
        <div class="user-details">
            <h5>My Email : @currentUser.Email</h5>
            <h5>My NIC : @currentUser.NIC</h5>
            <h5>My Phone Number : @currentUser.PhoneNo</h5>
        </div>
    </div>

    <div id="employeesTableDiv" class="content">
        <h2>My Employees</h2>
        <div class="TableViewDiv">
            <table id="employeeTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>