
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!--page styling-->
<link rel="stylesheet" href="~/Content/MyContent/ManagerStyling/ManagerView.css" />

<!--Script-->
<script type="text/javascript" src="~/Scripts/MyScripts/ManagerScripts/ManagerView.js"></script>



<div id="second-container">
    <div class="profileContainer content">
        <h2>WELCOME : @currentUser.FirstName @currentUser.LastName</h2>
        <img class="profile-image" src="~/Images/logo2.png" alt="Profile Image" />
        <div class="user-details">
            <h5>My Email : @currentUser.Email</h5>
            <h5>My NIC : @currentUser.NIC</h5>
            <h5>My Phone Number : @currentUser.PhoneNo</h5>
        </div>
    </div>

    <div id="employeesTableDiv" class="content">
        <h2>My Employees</h2>
        <div class="TableViewDiv">
            <table id="employeeTable" border="1" class="requestsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>


</div>