<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ServerCallScripts/ServerCall.js"></script>
    <script type="text/javascript" src="~/Scripts/MyScripts/NavbarScript.js"></script>
    <title>@ViewBag.Title - Training Management System</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*    <header>
            <h4>Training Management System</h4>
        </header>*@
    @{
        DataLibrary.Entities.User currentUser = Session["CurrentUser"] as DataLibrary.Entities.User;
        string currentUserRoleString = Session["CurrentRole"] as string;

    }






    <nav>
        <div class="nav-container">
            <a href="#">Welcome @currentUser.FirstName </a>
            @if (currentUserRoleString == "Employee")
            {
                <a id="home" href="@Url.Action("EmployeeView", "Employee")">Home</a>
                <a id="profile" href="@Url.Action("GetProfile", "Employee")">Profile</a>
                <a id="Training" href="@Url.Action("GetTrainingView", "Employee")">Training</a>
                <a id="Qualifications" href="@Url.Action("QualificationsView", "Employee")">My Qualifications</a>
                <a id="Qualifications" href="@Url.Action("InboxView", "Employee")">Inbox</a>
            }
            else if (currentUserRoleString == "Manager")
            {
                <a id="managerHome" href="@Url.Action("ManagerView","Manager")">Home</a>
                <a id="approveRequests" href="@Url.Action("ApproveRequestView","Manager")">Approve Training Requests</a>
                <a id="Qualifications" href="@Url.Action("InboxView", "Manager")">Inbox</a>
            }
            else
            {
                <a id="adminHome" href="@Url.Action("AdminView","Admin")">Home</a>
                <a id="adminTrainings" href="@Url.Action("ViewTrainingsView","Admin")">View Trainings</a>
                <a id="adminAddTraining" href="@Url.Action("AddNewTrainingView","Admin")">Add New Training</a>
                <a id="adminAutomaticProcess" href="@Url.Action("AutomaticProcessingView","Admin")">Automatic Processing</a>
                <a id="adminViewUsers" href="@Url.Action("AllUsersView","Admin")">View Employees</a>
            }

            <a href="@Url.Action("Logout","User")">Logout</a>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>



@*    <script>
        window.onscroll = function () { myFunction() };

        var navbar = document.querySelector("nav");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>*@


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

